
.product-details{
  height: 80vh;
}

.product-details .card{
  max-width: 1000px;
      margin: auto;
      margin-top: 56px;
}
.product-details .card .card-body .card-text{
  padding-left: 20px;
}
.product-details .card .card-body{
 padding: 0;
}
.product-details .card .card-body h5{
  background-color: #42938e;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
}
