
.product-details .card-columns div.card {
transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
position: relative;
border-radius: 12px;
box-shadow: 0px 6px 8px -7px rgba(0, 0, 0,0.1);
margin-bottom: 20px;

}
.product-details .card:hover {
box-shadow: 0px 20px 10px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.02, 1.02);
}

