.navMenu{
    background-color: #FFF;
    padding: 16px;
    margin-bottom: 20px;
}
.navMenu .logo{
    max-width: 60px;
    border-radius: 50%;
}

.navMenu h1 {
    color: #42938e;
    font-size: 24px;
}