#content-wrapper{
height: 100%;
}

.title-col{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #606060;
}

.row-content{
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px dashed #dfdfdf;
}