html{
  height: 100%;
}

body {
  position: relative;
    margin: 0;
    min-height: 100%;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto";
}

.icon-box {
  position: absolute;
  background-color: #42938e;
  width: 55px;
  height: 56px;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: -10px;
  top: -10px;
  color: white;
}

.container-footer {
  display: flex;
  background-color: #42938e;
  box-shadow: rgb(0 0 0 / 39%) 0px 10px 12px 12px;
  color: white;
  padding: 10px 0;
  margin-top: 60px;
  width: 100%;
}

.container-footer .col-icon {
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-footer .row {
  width: 100%;
}

.container-footer .col-icon .section-footer {
  text-align: center;
  margin-bottom: 10px;
}

.container-footer .col-icon .section-footer i {
  margin: 0 10px;
  font-size: 18px;
}

.container-footer .col-icon .social-media {
  margin-bottom: 10px;
}

.container-footer .col-icon .social-media i {
  margin: 0 10px;
  font-size: 18px;
}

.container-footer .col-icon h5 {
  text-align: center;
}

.container-footer .col-icon ul {
  display: flex;
  list-style: none;
}

.container-footer .col-icon ul li {
  margin: 0 12px;
}

.card-top-title,
.card-top-quantity {
  font-family: "Roboto";
  font-weight: 500;
}
.card-top-title {
  font-weight: 600;
  color: #505050;
}
